<h1>
  Edit "{{this.company.name}}"
  {{#if this.company.hasDirtyAttributes}}
    <span class="badge badge-info ml-4 small">modified</span>
  {{/if}}
  {{#if this.company.isDeleted}}
    <span class="badge badge-danger ml-4 small">deleted</span>
  {{/if}}
</h1>

<p>Name "invalid" is forbidden and will be marked as a validation error by the backend.</p>

<BsForm
  @model={{this.company}}
  @formLayout="inline"
  as |form|
>
  <form.element @property="name" @label="Name" />

  {{#if this.company.errors.name.length}}
    <span class="badge badge-warning ml-4">{{this.company.errors.name.firstObject.message}}</span>
  {{/if}}
</BsForm>

<h2>Departments</h2>

<ol>
  {{#each this.company.departments as |department|}}
    <li>
      <BsForm @model={{department}} @formLayout="inline" as |form|>
        <form.element @property="name"   />

        {{#if department.hasDirtyAttributes}}
          <span class="badge badge-info ml-4">modified</span>
        {{/if}}

        {{#if department.errors.name.length}}
          <span class="badge badge-warning ml-4">{{department.errors.name.firstObject.message}}</span>
        {{/if}}
      </BsForm>
    </li>
  {{/each}}
  <li>
    <BsButton
      @defaultText="Add"
      @onClick={{this.addDepartment}}
    />
  </li>
</ol>

<div>
  <BsButton
    @type="primary"
    @defaultText="Save"
    @pendingText="Saving..."
    @onClick={{this.save}}
  />

  <BsButton
    @type="danger"
    @defaultText="Delete"
    @pendingText="Deleting..."
    @onClick={{this.delete}}
  />
</div>